.App {
  font-family: 'Inter', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

/***** Basic ****/
h1, h2, h3, h4 ,h5, h6 {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

/***** Navbar *****/
.navbar-container {
  height: 50px;
  /* margin-top: 25px; */
}

/***** Inputs *****/
.filter-inputs {
  border-bottom: 1px solid #E0E3EA;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
}

.filter-inputs .ant-select-selector {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/***** WelcomePage *****/

.WelcomePage {
  text-align: center;
  font-family: Roboto;
}

.container-fluid {
  background-color: rgb(240, 235, 234);
  background-image: url("../assets/ww.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.img-fluid {
  width: 336px;
  height: 336px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.description {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.button1,
.button2 {
  text-align: center;
  padding: 15px;
  width: 336px;
  height: 49px;
  margin: 12px auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px rgba(24, 134, 245, 0.15);
  font-size: 14px;
  font-weight: bold;
  display: block;
}

.button1 {
  background-color: rgb(24, 134, 245);
  color: white;
}

.button1:hover {
  opacity: 0.7;
  color: rgb(24, 134, 245);
  background-color: rgb(250, 250, 250);
  transform: translateY(-5px);
}

.button1:active {
  opacity: 0.4;
  color: white;
  background-color: rgb(31, 129, 233);
}

.button2 {
  background-color: rgb(24, 131, 240);
  color: white;
}

.button2:hover {
  opacity: 0.7;
  color: rgb(14, 111, 214);
  background-color: rgb(250, 250, 250);
  transform: translateY(-5px);
}

.button2:active {
  opacity: 0.4;
  color: white;
  background-color: rgb(31, 129, 233);
}

@media (max-width: 768px) {
  .button1,
  .button2 {
    width: 90%;
    height: auto;
    padding: 10px;
    font-size: 12px;
  }
}


