.App {
  font-family: "Inter", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/***** Basic ****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}


/***** Navbar *****/
.navbar-container {
  height: 50px;
  /* margin-top: 25px; */
}

.navbar-bg-extend  {
    width: 100vw !important;
    margin-left: calc(-50vw + 50%);
    max-height: 500px;
}

/***** Inputs *****/
.filter-inputs {
  border-bottom: 1px solid #e0e3ea;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
}

.filter-inputs .ant-select-selector {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/***** Profile Page *****/

.profile-page-icon-sizing {
  width: 20px;
}

.profile-page-lists:hover {
  transition: all 0.3s;
  background: #54a1ff18;
  cursor: pointer;
}

.profile-page-list-container {
  border-radius: 8px;
  overflow: hidden;
}
/***** WelcomePage *****/

.WelcomePage {
  text-align: center;
  font-family: Roboto;
}

.container-fluid {
  background-color: rgb(240, 235, 234);
  background-image: url("../assets/ww.png");
  background-blend-mode: overlay;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 800px;
}

.img-fluid {
  width: 336px;
  height: 336px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.description {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.button1,
.button2 {
  text-align: center;
  padding: 15px;
  width: 336px;
  height: 49px;
  margin: 12px auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px rgba(24, 134, 245, 0.15);
  font-size: 14px;
  font-weight: bold;
  display: block;
}

/*****job cards *****/
.job-card {
  border: 2px solid #E0E3EA;
  width: 100%;
  margin-bottom: 10px;
  
}
/*** Oisin trying to fix gap between cards (think i got it) ****/
.job-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 52vh; */
 
}

/***** Modal *****/
.main-button-modal {
  background: radial-gradient(circle at center, #54a0ff, #3081d0);
}

.confirm-button-modal .ant-modal-footer .ant-btn-primary {
  background: radial-gradient(circle at center, #54a0ff, #3081d0) !important;
  border: none !important;
  color: white !important;
}
