.App {
  font-family: "Inter", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/***** Basic ****/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Plus Jakarta Sans", sans-serif;
}

/***** Navbar *****/
.navbar-container {
  height: 50px;
  /* margin-top: 25px; */
}

.navbar-bg-extend {
  width: 100vw !important;
  margin-left: calc(-50vw + 50%);
  max-height: 500px;
}

/***** Inputs *****/
.filter-inputs {
  border-bottom: 1px solid #e0e3ea;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0px;
}

.filter-inputs .ant-select-selector {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

/***** Profile Page *****/

.profile-page-icon-sizing {
  width: 20px;
}

.profile-page-lists:hover {
  transition: all 0.3s;
  background: #54a1ff18;
  cursor: pointer;
}

.profile-page-list-container {
  border-radius: 8px;
  overflow: hidden;
}
/***** WelcomePage *****/

.WelcomePage {
  text-align: center;
  font-family: Roboto;
}

.img-fluid {
  width: 336px;
  height: 336px;
  display: block;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
}

.description {
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.button1,
.button2 {
  text-align: center;
  padding: 15px;
  width: 336px;
  height: 49px;
  margin: 12px auto;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 5px 5px 10px rgba(24, 134, 245, 0.15);
  font-size: 14px;
  font-weight: bold;
  display: block;
}

/* Container styles  JOB CARDS */
.job-card {
  width: 400px;
  display: flex;
  flex-direction: column;
  padding: 0px;
  border: 1px solid #e0e3ea;
  margin-bottom: 10px;
}

/* Top section styles */
.job-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.job-card-left {
  display: flex;
  align-items: center;
}

.company-logo {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 20%;
  margin-bottom: 5px;
}

.company-name {
  margin: 0;
  color: #6b6b6b;
  font-weight: 500;
}

.job-title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
}

/* Save button styles */
.save-button {
  padding: 0;
  margin-left: 5px;
}
.save-button:hover .anticon {
  transform: scale(1.2); /* increases size on hover */
}
/* Bottom section styles */
.job-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.job-location {
  display: flex;
  align-items: center;
  color: #858585;
}

.location-icon {
  margin-right: 5px;
  font-size: larger;
}

.location-text {
  margin: 0;
  color: rgb(139, 139, 139);
  font-size: 15px;
}

.job-salary {
  margin: 0;
  font-size: small;
  margin-left: 5px;
}
/** THIS IS THE END OF THE JOB CARDS ***/

.company-logo {
  width: 45px;
  height: 45px;
  margin-right: 10px;
  border-radius: 20%;
  margin-bottom: 5px;
}

.company-name {
  margin: 0;
  color: #6b6b6b;
  font-weight: 500;
}

.job-title {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  margin-bottom: 5px;
  color: black;
}

/* Save button styles */
.save-button {
  padding: 0;
  margin-left: 5px;
}
.save-button:hover .anticon {
  transform: scale(1.2); /* increases size on hover */
}
/* Bottom section styles */
.job-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
}

.job-location {
  display: flex;
  align-items: center;
  color: #858585;
}

.location-icon {
  margin-right: 5px;
  font-size: larger;
}

.location-text {
  margin: 0;
  color: rgb(139, 139, 139);
  font-size: 15px;
}

.job-salary {
  margin: 0;
  font-size: small;
  margin-left: 5px;
}
/** THIS IS THE END OF THE JOB CARDS ***/

/***** Modal *****/
.main-button-modal {
  background: radial-gradient(circle at center, #54a0ff, #3081d0);
}

.confirm-button-modal .ant-modal-footer .ant-btn-primary {
  background: radial-gradient(circle at center, #54a0ff, #3081d0) !important;
  border: none !important;
  color: white !important;
}

/***** Amplify Authentication styling *****/

.amplify-button--primary {
  background: radial-gradient(circle at center, #54a0ff, #3081d0) !important;
  border-radius: 8px !important;
  height: 50px !important;
  margin-top: 10px !important;
}

.amplify-tabs__item--active {
  color: #3081d0 !important;
  border-color: #3081d0 !important;
}

/***** Job Detail Page Segemeneted styling *****/
.custom-segmented {
  margin: 20px 0;
  border-radius: 8px;
}
.custom-segmented .ant-segmented-item {
  color: #666;
  width: 151px;
  height: 50px;
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}

.custom-segmented .ant-segmented-item-selected {
  color: #1890ff;
  font-weight: bold;
}

/***** Job Detail Page Icon Button styling *****/
.icon-button {
  background-color: #e3e3e347;
}

.icon-button-ellipsis {
  transform: rotate(90deg);
}

.information {
  background-color: #fbfbfc;
  border-radius: 8px;
  min-width: 327px;
}

/***** Job Detail Page Bullet points styling *****/
.custom-list-styling ul,
.custom-list-styling ol {
  padding-left: 20px;
}

.custom-list-styling li {
  color: inherit;
  list-style-type: none;
  position: relative;
}

.custom-list-styling ul li::before {
  content: "";
  display: inline-block;
  width: 7px;
  height: 7px;
  background-color: #007bff;
  border-radius: 1px;
  position: absolute;
  left: -16px;
  top: 8px;
}
